/*タブレット*/
@media (min-width:800px) and (max-width:984px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }



  /*header---------------------------------------*/
  header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .header-logo {
    margin-right: auto;
    height: 80px;
  }

  .header-logo img {
    width: 200px;
    height: 80px;
  }

  .header-list {
    height: 80px;
    margin-left: auto;
    display: block;
  }

  .header-list ul {
    height: 80px;
    display: flex;
    list-style: none;

  }

  .header-list a {
    display: inline-block;
    padding: 20px 13px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    margin: 8px 5px 5px 0;
    margin-right: 5px;
  }

  .sp-menu {
    display: none;
  }





  /*main---------------------------------------*/
  .makoto-img-fail {
    width: 60%;
  }
  .makoto-img-fail h1 {
    font-size: 80px;
  }
  .makoto-img-fail img {
    width: 60%;
    height: 450px;
    text-align: center;
    border-radius: 20px;
  }
  .introduction {
    padding: 40px;
    width: 90%;
    height: auto;
    background-color: #ffffff39;
    color: black;
    margin: 110vh auto 100px;
    border: 2px double rgb(255, 251, 10);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .introduction h1 {
    color: black;
    font-size: 40px;
    margin-top: 50px;
  }
  
  .introduction p {
    margin: 8px 0;
  }
  
  .introduction span {
    font-size: 30px;
    color: black;
  }

  /* skill============================================== */
  .skills {
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .skill-d {
    width: 50%;
    padding: 30px;
    background-color: white;
  }

  .lang-meter meter {
    font-size: 30px;
  }
  /* 実績============================================ */
  .eishi {
    margin: 70px auto;
    width: 90%;
    height: auto;
    display: flex;
  }
  .eishi-explanation {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.eishi-explanation h1 {
  background-color: rgba(135, 207, 235, 0.612);
  margin-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

.eishi-explanation p {
  margin: 40px 0;
}

.eishi-explanation a {
  background-color: rgba(135, 207, 235, 0.612);
  border: 1px solid black;
  padding: 10px;
  color: red;
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.stand {
  width: 50%;
}
  /* card============================================== */
  .container-5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 250px;
    height: 450px;
    margin-top: 200px;
  }
  rd .content .content-block h3 {
    color: rgba(0, 0, 0, 0.591);
    font-size: 1.8rem;
    z-index: 1;
  }
  
  .card .content .content-none p {
    font-size: 1rem;
    font-weight: 300;
    z-index: 1;
  }
  
  .card .content .content-none a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: 500;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  /* blog============================================ */
  .container-6 {
    background: linear-gradient(to right, black, rgba(255, 217, 0));
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150vh;
  }
  .slider a {
    position: absolute;
    top: -100px;
    left: 0;
    width: 80%;
    height: 80%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
  }
  .container-6 .a {
    position: absolute;
    top: 900px;
    left: 40%;
    background-color: #ffffff6e;
    border: 1px solid gold;
    color: black;
    border-radius: 10px;
    padding: 10px 60px;
    font-weight: 500;
    z-index: 20;
    box-shadow: 5px 5px rgb(65, 62, 62);
  }
}